*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  line-height: 1.15;
}
body{
  font-family: 'Roboto', sans-serif;
}
p{
  display: block;
  font-size: 1rem;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
a{
  color: inherit;
  text-decoration: none;
  display: block;
}
/* HEADER */
.btn{
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.btn--purple{
  background: linear-gradient(357deg,#9356dc 0%, #ff79da 90%);
}

/* RESTAURANT */
.restaurant{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /*grid-template-rows: auto 250px 250px 250px;*/
  grid-gap: 25px;
  column-gap: 40px;
  margin: 64px 0;
}
.restaurant__card{
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.restaurant__card:hover{
  transform: scale(1.01);
}
.restaurant__img{
  flex: 1;
}
.restaurant__item{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* FOOTER COMMUN */

.footer-commun{
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 2rem 1.5rem;
}
.footer-commun--link{
  padding: 0.5rem 0;
}





/*RESPONSIVE*/

/*desktop*/
@media (min-width : 1025px) {

}

/*pc portable*/
@media (min-width : 1025px) and (max-width : 1700px) {

}

/*tablet*/
@media (min-width : 768px) and (max-width : 1024px) {

}

/*RESPONSIVE*/
