*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

p {
  display: block;
  font-size: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 2rem;
  }
}

main {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

.btn {
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3);
}
@media screen and (min-width: 1200px) {
  .btn {
    border-radius: 2.5rem;
    padding: 2rem 10rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn {
    border-radius: 2rem;
    padding: 1.5rem 4rem;
  }
}
.btn--purple {
  background: linear-gradient(357deg, #9356dc 0%, #ff79da 90%);
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .btn--purple {
    cursor: pointer;
  }
}

.head-first__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
@media screen and (min-width: 1200px) {
  .head-first__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head-first__img {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
.head-first__title {
  text-align: center;
  margin-top: 2.5rem;
}
.head-first__txt {
  text-align: center;
  margin: 0.5rem 0 1.5rem 0;
}
.head-first__bg {
  padding-bottom: 2rem;
  background-color: #f6f6f6;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: #eaeaea;
}
.location__logo {
  margin-right: 0.5rem;
  color: #f6f6f6;
}
.location__txt {
  font-weight: 500;
}

.navigation {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.footer-commun {
  background: #333;
  color: #fff;
  padding: 2rem 1.5rem;
}
.footer-commun--link {
  padding: 0.5rem 0;
}

.function__card {
  margin: 2rem;
}
@media screen and (min-width: 768px) {
  .function__card {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
.function__choice {
  text-align: center;
  position: relative;
  width: 65%;
  margin: 0.5rem;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3);
}
.function__choice--number {
  position: absolute;
  text-align: center;
  top: 20px;
  left: -10px;
  padding: 4px;
  width: 17px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}

li:hover {
  background-color: #f5edff;
}
li:hover > i {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  background: #f6f6f6;
}
.restaurant > h2 {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .restaurant__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 224px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .restaurant__block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    column-gap: 40px;
    margin: 4rem;
  }
}
.restaurant__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 50%;
}
.restaurant__card {
  position: relative;
}
.restaurant__novelty {
  background-color: #99E2D0;
  color: #269e80;
}
@media screen and (min-width: 768px) {
  .restaurant__novelty {
    position: absolute;
    top: 1rem;
    right: 35rem;
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
