@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&family=Shrikhand&display=swap");
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

h1 {
  display: block;
  font-size: 24px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  display: block;
  font-size: 24px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    margin-bottom: 32px;
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h3 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  h4 {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  h4 {
    font-size: 24px;
  }
}

p {
  display: block;
  font-size: 16px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
@media screen and (min-width: 1200px) {
  p {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  p {
    font-size: 24px;
    font-weight: 400;
  }
}

main {
  margin: 0;
  padding: 0;
}

ol {
  list-style: none;
}

.btn {
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3);
  transition: box-shadow 0.3s;
}
@media screen and (min-width: 1200px) {
  .btn {
    border-radius: 2.5rem;
    padding: 1rem 6rem;
    cursor: pointer;
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn {
    border-radius: 2rem;
    padding: 1.5rem 4rem;
  }
}
.btn--purple {
  background: linear-gradient(357deg, #9356dc 0%, #ff79da 90%);
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .btn--purple {
    cursor: pointer;
  }
}
.btn--purple:hover {
  filter: brightness(1.75);
}
.btn:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@keyframes scrollbar {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.scroll1 {
  animation-delay: 0s;
}

.scroll2 {
  animation-delay: 0.2s;
}

.scroll3 {
  animation-delay: 0.4s;
}

.scroll4 {
  animation-delay: 0.6s;
}

.scroll5 {
  animation-delay: 0.8s;
}

.scroll6 {
  animation-delay: 1s;
}

.scroll7 {
  animation-delay: 1.2s;
}

.scroll8 {
  animation-delay: 1.4s;
}

.scroll9 {
  animation-delay: 1.6s;
}

.scroll10 {
  animation-delay: 1.8s;
}

@keyframes loader_page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader-page {
  position: fixed;
  z-index: 1000;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  animation: loader_page ease 3s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.loader-page__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.loader-page__logo > img {
  width: 70%;
}
.loader-page__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-page__dot {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-page__dot > div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-delay: 2s;
  animation-fill-mode: both;
}
.loader-page__dot > div:nth-child(1) {
  left: 8px;
  animation: loader-page__dot1 0.6s infinite;
  background: #9356DC;
}
.loader-page__dot > div:nth-child(2) {
  left: 8px;
  animation: loader-page__dot2 0.6s infinite;
  background: #FF79DA;
}
.loader-page__dot > div:nth-child(3) {
  left: 32px;
  animation: loader-page__dot2 0.6s infinite;
  background: #99E2D0;
}
.loader-page__dot > div:nth-child(4) {
  left: 56px;
  animation: loader-page__dot3 0.6s infinite;
  background: #fff;
}

@keyframes loader-page__dot1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader-page__dot3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loader-page__dot2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.restaurant__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: black;
}

.heart {
  padding: 20px 0;
}

.menu-top__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: black;
  height: 16px;
  width: 16px;
}
@media screen and (min-width: 768px) {
  .menu-top__heart {
    height: 48px;
    width: 51px;
  }
}

.like {
  transition-duration: 0.25s;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

.empty {
  background-color: #fff;
}

.filled {
  position: absolute;
}

.restaurant__heart:hover, .menu-top__heart:hover {
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.restaurant__heart:hover .empty, .menu-top__heart:hover .empty {
  opacity: 0;
}

.head-first__img {
  padding: 10px;
  display: block;
  margin: auto;
  width: 60%;
}
@media screen and (min-width: 1200px) {
  .head-first__img {
    display: block;
    width: 25%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head-first__img {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
.head-first__title {
  text-align: center;
  margin-top: 2.5rem;
}
.head-first__txt {
  text-align: center;
  margin: 0.5rem 0 1.5rem 0;
}
.head-first__bg {
  padding-bottom: 2rem;
  background-color: #f6f6f6;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px -5px 5px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
  background-color: #eaeaea;
  padding: 1rem;
}
.location__logo {
  margin-right: 0.5rem;
  color: #f6f6f6;
}
.location__logo > i {
  color: #333;
}
.location__txt {
  font-weight: 500;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-commun {
  background: #333;
  color: #fff;
  padding: 2rem 1.5rem;
}
.footer-commun--link {
  padding: 0.5rem 0;
}

.restaurant {
  width: 100%;
  background: #f6f6f6;
}
.restaurant > h2 {
  text-align: center;
}
.restaurant__block {
  padding-bottom: 1px;
}
@media screen and (min-width: 1200px) {
  .restaurant__block {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .restaurant__block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    column-gap: 40px;
    margin: 4rem;
  }
}
.restaurant__block > a {
  margin: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.restaurant__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restaurant__item {
    width: 100%;
  }
}
.restaurant__card {
  position: relative;
}
.restaurant__card--title {
  font-weight: bold;
  font-size: 16px;
}
.restaurant__card--text {
  margin: 0 0 0.25rem;
  font-size: 16px;
}
.restaurant__caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
}
.restaurant__heart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 15px;
}
.restaurant__heart i {
  font-size: 24px;
}
.restaurant__heart i .fas {
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}
.restaurant__heart i:hover .fas {
  opacity: 1;
  transform: scale(1.05);
}
.restaurant__heart i:hover .far {
  opacity: 0;
}
.restaurant__heart:hover {
  background: linear-gradient(357deg, #9356dc 0%, #ff79da 90%);
}
.restaurant__heart:hover .empty {
  opacity: 0;
}
.restaurant__novelty {
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: #99E2D0;
  color: #269e80;
}

.head-menupage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.head-menupage__icon {
  position: absolute;
  left: 3rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .head-menupage__icon {
    font-size: 3rem;
  }
}
.head-menupage__title {
  font-family: "Shrikhand", sans-serif;
}
@media screen and (min-width: 768px) {
  .head-menupage__title {
    font-size: 3rem;
  }
}

.menu-container {
  margin-bottom: 60px;
}

.menu-bg {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .menu-bg {
    height: 80vh;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-bg {
    height: 40vh;
    object-fit: cover;
  }
}

.menu-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.menu-top__title {
  font-family: "Shrikhand", sans-serif;
}
.menu-top__heart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .menu-top__heart {
    font-size: 51px;
  }
}
.menu-top__heart:hover {
  background: linear-gradient(357deg, #9356dc 0%, #ff79da 90%);
}
.menu-top__heart:hover .empty {
  opacity: 0;
}

.menu {
  background: #f6f6f6;
  transform: translateY(-80px);
  background-color: #fff;
  border-radius: 50px;
  margin: auto;
  padding: 0 1rem;
}
.menu__title {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.menu__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4px;
  transform: translateX(-3px);
  height: 3px;
  width: 35px;
  background-color: #99E2D0;
}
.menu__section {
  margin: 2rem 0;
}
@media screen and (min-width: 1200px) {
  .menu__section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    column-gap: 40px;
    margin: 4rem;
    grid-gap: 0;
  }
}
.menu__plat {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: relative;
  width: calc(100% - 3rem);
  margin: 10px auto;
  box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3);
  background-color: #fff;
  border-radius: 1rem;
  animation: scrollbar 1s;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu__plat--price {
  padding: 1rem;
  text-align: right;
  width: 30%;
  transition: all 0.4s ease-out;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__plat--price {
    font-size: 24px;
    font-weight: 400;
  }
}
.menu__plat--description {
  margin-block-end: 0;
}
.menu__plat:hover .menu__check {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__plat:hover .menu__check i {
  transform: rotate(0);
}
.menu__plat:hover .menu__left {
  width: 60%;
}
.menu__plat:hover .menu__left h4, .menu__plat:hover .menu__left p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 145px;
}
@media screen and (min-width: 1200px) {
  .menu__plat:hover .menu__left h4, .menu__plat:hover .menu__left p {
    max-width: none;
  }
}
.menu__plat:hover .menu__plat--price {
  width: 20%;
}
.menu__left {
  padding: 1rem;
  width: 70%;
  transition: all 0.4s ease-out;
}
.menu__left h4, .menu__left p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 1200px) {
  .menu__left h4, .menu__left p {
    max-width: none;
  }
}
.menu__check {
  align-self: stretch;
  background-color: #99E2D0;
  width: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}
.menu__check i {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(360deg);
  transition: all 0.4s ease-out;
  padding: 1rem;
  color: #99E2D0;
}
.menu__check--icon {
  background-color: #fff;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu button {
  display: block;
  margin: 0 auto;
}

.function__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .function__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
  }
}
.function__choice {
  text-align: center;
  position: relative;
  width: 65%;
  margin: 0.5rem;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3);
}
.function__choice i {
  color: #7e7e7e;
}
@media screen and (min-width: 1200px) {
  .function__choice {
    margin: 0 2rem;
  }
}
.function__choice--number {
  position: absolute;
  text-align: center;
  top: 20px;
  left: -10px;
  padding: 4px;
  width: 17px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #fff;
}
.function__choice--icon {
  margin-right: 0.5rem;
  color: #333;
}
.function__choice > span {
  font-weight: bold;
}
.function__title {
  margin-left: 1.5rem;
}

li:hover {
  background-color: #f5edff;
}
li:hover > i {
  color: #9356DC;
}

/*# sourceMappingURL=main.css.map */
