.btn{
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 5px 5px 10px $shadow;
  @include desktop-only{
    border-radius: 2.5rem;
    padding: 2rem 10rem;
    cursor: pointer;
  }
  @include tablet-only{
    border-radius: 2rem;
    padding: 1.5rem 4rem;
  }
  &--purple{
	background: $color-btn;
    color: $white;
    @include desktop-only{
    cursor: pointer;
    }
  }
}
