.btn{
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 5px 5px 10px $shadow;
  transition: box-shadow .3s;
  @include desktop-only{
    border-radius: 2.5rem;
    padding: 1rem 6rem;
    cursor: pointer;
    font-size: 25px;
  }
  @include tablet-only{
    border-radius: 2rem;
    padding: 1.5rem 4rem;
  }
  &--purple{
	background: $color-btn;
    color: $white;
    @include desktop-only{
    cursor: pointer;
    }
    &:hover{
      filter: brightness(1.75);
    }
  }
  &:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  }
}
