.restaurant__heart{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: black;
}
.heart{
  padding: 20px 0;
}
.menu-top__heart{
  @include tablet-desktop{
    height: 48px;
    width: 51px;
  }
  @include center;
  cursor: pointer;
  background-color: black;
  height: 24px;
  width: 24px;
  i {
    font-size: 24px;
    @include tablet-desktop{
      font-size: 51px;
    }
  }
}
.like{
  transition-duration: .25s;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;  //Permet de mettre de la transparence au like
}
.empty{
  background-color: $white;
}

.filled{
  position: absolute;
}

.restaurant__heart:hover, .menu-top__heart:hover{
  background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  .empty{
	opacity: 0;
  }
}
