.restaurant__heart, .menu-top__heart{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1.5rem;
  height: 1.9rem;
  width: 2.45rem;
  right: 0.5rem;
  cursor: pointer;
  background-color: black;
}
.menu-top__heart{
  bottom: 0.4rem;
  right: 0.5rem;
  width: 2.2rem;
  height: 1.6rem;
}
.like{
  transition-duration: .25s;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;  //Permet de mettre de la transparence au like
}



.empty{
  position: absolute;
  background-color: #F6F6F6;}


.filled{
  position: absolute;
}

.restaurant__heart:hover, .menu-top__heart:hover{
  background: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  .empty{
	opacity: 0;
  }
}
