@keyframes scrollbar {
  0%{
	transform: scale(0);
  }
  100%{
	transform: scale(1);
  }
}

.scroll1{
  animation-delay: 0s;
}.scroll2{
  animation-delay: .2s;
}.scroll3{
  animation-delay: .4s;
}.scroll4{
  animation-delay: .6s;
}.scroll5{
  animation-delay: .8s;
}.scroll6{
  animation-delay: 1s;
}.scroll7{
  animation-delay: 1.2s;
}.scroll8{
  animation-delay: 1.4s;
}.scroll9{
  animation-delay: 1.6s;
}.scroll10{
  animation-delay: 1.8s;
}
