// partie restaurant
.restaurant {
  @include bloc_restaurant;

  > h2 {
	text-align: center;
  }

  &__block {
	@include desktop-only {
	  display: grid;
	  max-width: 1000px;
	  margin: auto;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: auto auto;
	}
	@include tablet-only {
	  @include grid;
	}
	padding-bottom: 1px;

	> a {
	  margin: 20px;
	  background-color: $white;
	  border-radius: 15px;
	}
  }

  &__item {
	@include center;
	height: 12rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	@include tablet-desktop {
	  width: 100%;
	}
  }

  &__card {
	position: relative;

	&--title {
	  font-weight: bold;
	  font-size: 16px;
	}

	&--text {
	  margin: 0 0 .25rem;
	  font-size: 16px;
	}
  }

  &__caption {
	@include myFlex();
	justify-content: space-between;
	margin: .5rem;
	padding: .5rem .25rem;
  }

  &__heart {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	right: 15px;

	i {
	  font-size: 24px;
	  .fas {
		color: transparent;
		background-image: linear-gradient(0deg,$color-primary 0%,$color-secondary 100%);
		-webkit-background-clip: text;
		position: absolute;
		opacity: 0;
		transition: all .5s;
	  }
	  &:hover .fas{
		opacity: 1;
		transform: scale(1.05);
	  }
	  &:hover .far{
		opacity: 0;
	  }
	}
  }

  &__heart:hover {
	background: $color-btn;
  }

  &__heart:hover .empty {
	opacity: 0;
  }

  // partie "nouveau" restaurant
  &__novelty {
	font-weight: bold;
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: .5rem;
	background-color: $bg-novelty;
	color: $txt-novelty;
  }

}

// page menu
.head-menupage{
  @include center;
  position: relative;
  &__icon{
	@include tablet-desktop{
	font-size: 3rem;
	}
	position: absolute;
	left: 3rem;
	top: 50%;
	@include center;
	transform: translateY(-50%);
	font-size: 1.5rem;
  }
  &__title{
	@include tablet-desktop{
	  font-size: 3rem;
	}
	font-family: "Shrikhand", sans-serif;
  }
}
// Body des pages menu
.menu-container{
  margin-bottom: 60px;
}
.menu-bg {
  width: 100%;
  @include desktop-only {
	height: 80vh;
	object-fit: cover;
  }
  @include tablet-only{
	height: 40vh;
	object-fit: cover;
  }
}

.menu-top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  &__title {
	font-family: 'Shrikhand', sans-serif;
  }

  &__heart {
	@include myFlex(column);
	@include tablet-desktop{
		font-size: 51px;
	}
  }

  &__heart:hover {
	background: $color-btn;

	.empty {
	  opacity: 0;
	}
  }
}

.menu {
  background: $light-grey;
  transform: translateY(-80px);
  background-color: $white;
  border-radius: 50px;
  margin: auto;
  padding: 0 1rem;

  &__title {
	position: relative;
	text-transform: uppercase;
	margin-bottom: 1rem;
  }

  &__title::after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 4px;
	transform: translateX(-3px);
	height: 3px;
	width: 35px;
	background-color: $bg-novelty;
  }

  &__section {
	@include desktop-only {
	  @include grid;
	  grid-gap: 0;
	}
	margin: 2rem 0;
  }

  &__plat {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: start;
	position: relative;
	width: calc(100% - 3rem); // calc sert à faire des calculs
	margin: 10px auto;
	box-shadow: 5px 5px 10px rgb(26 26 26 / 30%);
	background-color: $white;
	border-radius: 1rem;
	animation: scrollbar 1s;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

	&--price {
	  padding: 1rem;
	  text-align: right;
	  width: 30%;
	  transition: all .4s ease-out;
	  @include tablet-only{
	  	font-size: 24px;
		font-weight: 400;
	  }
	}

	&--description {
	  margin-block-end: 0;
	}

	&:hover {
	  .menu {
		&__check {
		  width: 54px;
		  @include center;
		  & i {
			transform: rotate(0);
		  }
		}
		&__left {
		  width: 60%;
		  @include desktop-only{
			width: 85%;
		  }
		  @include tablet-only{
			width: 79%;
		  }
		  h4, p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 200px;
		  }
		  @include desktop-only{
			h4, p{
			  max-width: none;
			}

		  }
		}

		&__plat--price {
		  width: 10%;
		  padding: 16px 5px 16px 12px;
		}
	  }
	}
  }

  &__left {
	padding: 1rem;
	width: 70%;
	transition: all .4s ease-out;
	h4, p {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	@include desktop-only{
	  h4, p{
		max-width: none;
	  }
	}
  }

  &__check {
	& i {
	  @include center;
	  transform: rotate(360deg);
	  transition: all .4s ease-in-out;
	  padding: 1rem;
	  color: $bg-novelty;
	}

	align-self: stretch;
	background-color: $bg-novelty;
	width: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	&--icon{
	  background-color: $white;
	  border-radius: 100%;
	  height: 1.5rem;
	  width: 1.5rem;
	  @include center;
	}
  }
  // bouton page menu
  button{
	display: block;
	margin: 0 auto;
  }
}


