// partie fonctionnement
.function {
  &__card {
	@include tablet-desktop {
	  @include myFlex();
	  justify-content: space-around;
	@include myFlex(column);
	}
	margin: 2rem;
  }
  &__choice{
	text-align: center;
	position: relative;
	width: 65%;
	margin: .5rem;
	background-color: $light-grey;
	padding: 1.5rem 2rem;
	border-radius: 1.5rem;
	box-shadow: 5px 5px 10px $shadow;
	&--number{
	position: absolute;
		text-align: center;
	  top: 20px;
	  left: -10px;
		padding: 4px;
	  width: 17px;
	  border-radius: 50%;
	  background-color: $color-primary;
	  color: $white;
	}
  }
  &__title{
	margin-left: 1.5rem;
  }
}
li:hover{
  background-color: $color-icon;
  >i{
	color: $color-primary;
  }
}

// partie restaurant
.restaurant {
  @include bloc_restaurant;
	>h2{
	  text-align: center;
	}
  &__block {
	@include desktop-only {
	  display: grid;
	  max-width: 1000px;
	  margin: auto;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: auto auto;
	}
	@include tablet-only {
	  @include grid;
	}
	padding-bottom: 1px;
	>a{
	  margin: 20px;
	  background-color: $white;
	  border-radius: 15px;
	}
  }
  &__item{
	@include center;
	height: 12rem;
	object-fit: cover;
	border-radius: 1rem 1rem 0 0;
	width: 100%;
	@include tablet-desktop{
	  width: 100%;
	}
  }
  &__card{
	position: relative;
  }
// partie "nouveau" restaurant
  &__novelty{
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: .5rem;
	background-color: $bg-novelty;
	color: $txt-novelty;
  }
}

// page menu
.menu-bg {
  width: 100%;
  position: center;
}
.menu-top{
  padding-top: 5%;
}
.menu{
  transform: translateY(-80px);
  background-color: $white;
  border-radius: 50px;
  margin: auto;
  &__title{
	position: relative;
	text-transform: uppercase;
	margin-bottom: 1px;
  }
  &__title::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateX(-3px);
	height: 2px;
	width: 30px;
	background-color: $bg-novelty;
  }
}
