$white: #fff;
$dark-grey: #333;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg_loader: #f2f2f2;
$middle-grey: 	#eaeaea;
$color-btn: linear-gradient(357deg,#9356dc 0%, #ff79da 90%);
$light-grey: #f6f6f6;
$shadow: rgba(26,26,26,0.3);
$bg-novelty: #99E2D0;
$txt-novelty: #269e80;
